@import "style.less";
.leaflet-container {
	position: relative;
    height: 500px;
    width: 800px;
}
.map-buttons {
	width: 800px;
	display: flex;
}
.download {
	margin-left: 2rem;
	height: 3rem;
}
.places-list {
	font-size: 1.3rem;
	&-item {
		cursor: pointer;
		margin-bottom: 0.5rem;
	}
}